.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.is-done{
  opacity: 0.5;
}
.activeBC {
  background-color: dimgray;
}
.error{
  background-color: #ab3157;
  border: 2px solid #5d1d1d;
  outline: transparent;
}