.title{
    display: flex;
    position: relative;
}
.tit{
    margin-left: 30px;
}

.selBut{
    height: 20px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 20px;
}
.addlBut{
    height: 20px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 20px;
}